.abstract {
    position: relative;
    margin: 1.5em 0em;
    padding: 0px 10px 8px;
    border: solid 2px;
    border-radius: 10px;
}

.abstract #title {
    text-align: center;
    font-weight: bold;
}